"""

HACK: this is a temporary shim to get started.  We can circle back
      and use a more robust module later that will check for ENV
      variables that override, or whatever.

Copy this file to `configuration.py` then edit that file
to match your local environment variables.

"""
import yaml
from pathlib import Path

CONFIG = yaml.load("""
---
# For localhost development, this is fine since it's a docker container
# CHANGE FOR PRODUCTION
database_url: 'mysql://rrbot:rrbot@localhost:3306/rrbot...'
discord_client_id: 1234567890
discord_client_secret: 'put your token here'
default_command_prefix: '='
admins:
  - 290829729458814977 # Q
  - 376200817054842882 # Babs
  - 610335542780887050 # Midnight
  - 158406380162646016 # Omnilord
  - 250138180718821376 # Hellz
  - 715057045211971685 # Aten
mod_roles:
  - 694253939734085732 # @staff
log_level: 'INFO'
""", Loader=yaml.FullLoader)

CONFIG['rootpath'] = ROOT     = Path(__file__).parent.absolute().parent
CONFIG['srcpath']  = SRC      = os.path.join(ROOT, 'src')
CONFIG['prefixes'] = PREFIXES = {}

DB_URL = CONFIG['database_url']
TOKEN = CONFIG['discord_client_secret']
PREFIX = CONFIG['default_command_prefix'].lower()
ADMINS = CONFIG['admins']
LOG_LEVEL = CONFIG['log_level']


def update_live_prefix(id, prefix):
    global PREFIXES
    print(PREFIXES)
    current_prefix = PREFIXES.get(id, None)
    print('Update Prefix {} => {}, old => {}'.format(id, prefix, current_prefix))
    if prefix != current_prefix:
        print("Differs")
        if prefix is None:
            print('NONE')
            PREFIXES.delete(id)
        else:
            print('CHANGE')
            PREFIXES[id] = prefix
    else:
        print('DAFUQ\n???\n???\n???')


if __name__ == "__main__":
    print(CONFIG)
